@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

#reviews-carousel .flex.flex-shrink-0 {
    transition: transform 0.5s ease;
}

.ellipse {
position: absolute;
width: 400px;
height: 400px;
background: rgba(192, 172, 122, 0.3);
filter: blur(200px);
z-index: -9999;
}

.first {
    left: -140px;
    top: 45px;
}

.second {
    left: 70%;
    top: 2000px;
}

.usdt-scroller {
    animation: scroll 20s linear infinite;
  }
  
  @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}